* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Vend Sands", Helvetica, Arial, sans-serif;
  color: #2a2a2a;
  font-size: 14px;
}

body {
  /* width: 75vw; */
  min-width: 500px;
  margin: auto;
  background-color: #eff0f3;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: auto;
  padding: 15px 0 30px 0;
  background-color: #0d0d0d;
  color: #ff8e3c;
}

header {
  margin-bottom: 2rem;
}

main {
  width: 75vw;
  margin: auto;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  padding: 10px;
  font-family: "Knewave", serif;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.3rem;
}

h3{
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #4D4D4D;
  padding: 1rem 0;
}

h4 {
  font-size: 2.5rem;
  font-family: "Knewave", serif;
  font-weight: 400;
  color: #d9376e;
  padding-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: 
    "one two"
    "three four"
    "five six";
  gap: 1.5rem;
}

.one {
  grid-are: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.pastry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fffffe;
  border-radius: 10px;
  padding: 1rem;
}

img {
  max-width: 100%;
  min-width: 200px;
  min-height: auto;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px 10px 0 0;
}

h3 h4 p a {
  margin: 0 1rem;
}

p {
  line-height: 1.5;
  padding-bottom: 1rem;
}

a {
  padding: 10px 15px;
  background-color: #ff8e3c;
  border-radius: 10px;
}

a:link {
  color: #0d0d0d;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #0d0d0d;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #fffffe;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
}

a:active {
  color: #d9376e;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
}

footer p {
  font-size: .8rem;
}

footer {
  margin-top: 2rem;
}

/* .bear {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
} */
